:root {
  --background: #5C82B9;
  --foreground: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #5C82B9;
    --foreground: #ffffff;
    color: #ffffff;
  }
}

;
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: ;
}

body {
  color: var(--foreground);
  background: var(--background) url('/crumpled_paper.jpeg') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}