.page {
  --background: #fafafa;
  --foreground: #fff;
  
  --text-primary: #ffffff;
  --text-secondary: #5C82B9;
  --text-tertiary: #92B9EB;
  
  --button-primary-hover: #5C82B9;
  --button-secondary-hover: #92B9EB;
  --button-secondary-border: #ebebeb;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-geist-sans);
}

/* Hide element until fade-in starts */
.hidden-until-fade {
  opacity: 0;
}

/* Fade-in animation for images */
.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  color: var(--text-primary);
  background-color: var(--text-secondary);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4rem;
}

.intro {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
  width: 100%;
  max-width: 100%;
  align-items: flex-start;
  text-align: left;
  justify-content: flex-start;
  font-family: var(--font-geist-sans);
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  padding: 4rem;
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  color: var(--text-secondary);
  margin-top: auto;
  max-width: 20rem;
  color: var(--text-secondary);
}

.links {
  display: flex;
  gap: 32px;
  margin-top: 80px;
  justify-content: center;
  width: 100%;
}


.link {
  color: #000;
  font-size: 1.1rem;
  font-weight: 500;
  border-bottom: 2px solid #000;
  padding: 4px 12px 2px 12px;
  transition: background 0.2s, color 0.2s;
}
.link:hover {
  background: #000;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  .link {
    color: #fff;
    border-bottom: 2px solid #fff;
  }
  .link:hover {
    background: #fff;
    color: #000;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
    .intro h1,
    .intro p,
    .intro a,
    .link {
      color: #fff !important;
      border-bottom: 2px solid #fff;
    }
    .link:hover {
      background: #fff;
      color: #000 !important;
    }
}
