.page {
    display: flex;
    flex-direction: column;
    font-family: var(--font-geist-sans);
}

.main {
    display: flex;
    position: relative;
    flex: 1;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem;
}

.h2 {
    color: var(--text-darkblue);
    font-size: 2rem;
    font-weight: 350;
    margin-bottom: 1rem;
    line-height: 2rem;
}

.description {
    color: var(--text-darkblue);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6rem;
    max-width: 40rem;
    padding: 1.5rem;
    background: rgba(197, 227, 255, 0.9);
    box-shadow: 8px 10px 4px -2px rgba(45, 88, 114, 0.7);
}

.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    max-width: 100%;
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
    gap: 4rem;
}

.link:hover {
    color: var(--text-tertiary)
}

@media screen and (max-width: 1640px) {
    .stickersLarge {
        visibility: hidden;
    }
}

/* Hiding header when small */
@media screen and (max-width: 1200px) {
    .stickersMedium {
        visibility: hidden;
    }

    .intro {
    display: none;
}

    .h3 {
    margin: 0 0 0 9.5rem;
    }
}

@media screen and (max-width: 1125px) {
    .stickersSmall {
        visibility: hidden;
    }
    .header {
        visibility: hidden;
    }

    .h3 {
    margin: 0 5rem 0 5rem;
    }
}

.phoneProjects {
    display: none;
}

/* Phone Screen Size */
@media (max-width: 600px) {
    .main {
        padding: 1rem 2rem;
    }

    .title {
        font-size: 1.3rem;
        line-height: 1.5rem;
        margin: 0.4rem;
    }

    .intro {
        gap: 0.3rem;
    }

    .intro h1 {
        font-size: 0.5rem;
        line-height: 0.7rem;
    }

    .reactFlowContainer, 
    .flowStage {
        display: none;
    }

    .phoneProjects {
        display:contents;
    }

    Link:hover {
        color: var(--text-tertiary);
    }
}