.node {
    width: 300px;
    height: 300px;
    border-radius: 16px;
    /* overflow: hidden; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: flex-end;
}

/* label overlay at bottom */
.label {
    width: 100%;
    padding: 0 0 0 25px;
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--text-darkblue);
    align-content: center;
}

.subtitle {
    color: var(--text-darkblue);
    padding: 0 0 140px 25px;
    font-size: 1rem;
    line-height: 1.1;
}
