:root {
  --background: #fafafa;
  --foreground: #fff;
  
  --text-primary: #ffffff;
  --text-secondary: #5C82B9;
  --text-tertiary: #92B9EB;
  --text-other: #FFC600;
  --text-darkblue: #4e62b3;
  --text-black: #000000;
  
  --button-primary-hover: #5C82B9;
  --button-secondary-hover: #92B9EB;
  --button-secondary-border: #ebebeb;
  --background: #5C82B9;
  --foreground: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #5C82B9;
    --foreground: #ffffff;
    color: #ffffff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgba(255, 224, 69, 0.9);

  cursor: url("/pointer.png") 16 16, auto; 
}

a, button, [role="button"], .clickable {
  cursor: url("/pointer.png") 16 16, pointer;
}

input, textarea {
  cursor: text;
}

body {
  color: var(--foreground);
  background: url('/crumpled_paper.jpeg') no-repeat center center fixed;
  background-size: cover;
  font-family: AvenirNext, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}