.page {
  --background: #fafafa;
  --foreground: #fff;
  
  --text-primary: #ffffff;
  --text-secondary: #5C82B9;
  --text-tertiary: #92B9EB;
  --text-other: #FFC600;
  
  --button-primary-hover: #5C82B9;
  --button-secondary-hover: #92B9EB;
  --button-secondary-border: #ebebeb;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-geist-sans);
}

/* Hide element until fade-in starts */
.hidden-until-fade {
  opacity: 0;
}

/* Fade-in animation for images */
.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  color: var(--text-primary);
  background-color: var(--text-secondary);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.title {
  display: flex;
  flex-direction: column;
  columns: 1;
}

.nav {
  display: flex;
  flex-direction: row;
  position:absolute;
  top: 4.5rem;
  left: 55rem;
  height: 2rem;
  gap: 1.5rem;
}

.intro {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  align-items: flex-start;
  text-align: left;
  justify-content: flex-start;
  padding: 3rem;
  gap: 4rem;
}

.link {
  color: var(--text-secondary);
  font-size: 1.1rem;
  font-weight: 500;
  border-bottom: 2px solid #5C82B9;
  padding: 0.1rem 0.6rem;
  transition: background 0.2s, color 0.2s;
}

.link:hover {
  background: var(--text-tertiary);
  color: var(--text-primary);
}

@media (prefers-color-scheme: dark) {
  .link {
    color: var(--text-secondary);
    border-bottom: 2px solid #5C82B9;
  }
  .link:hover {
    background: var(--text-tertiary);
    color: var(--text-primary);
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
    .intro h1,
    .intro p,
    .intro a,
    .link {
      color: #fff !important;
      border-bottom: 2px solid #fff;
    }
    .link:hover {
      background: #fff;
      color: #000 !important;
    }
}
